.labelForm {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: block;
    margin: auto; 
  }

.center {
    text-align: center;
    margin-top: 15px;
  }

.margin {
  margin-top: 5px;
}

.registration-box {
  transform: translate(0, 4rem);
}

.btn-Padding {
  padding-left: 20%;
  padding-right: 20%;
  margin-right: 20%;
}
