<div class="container">
    <h1>Restaurant eintragen</h1>
    <p>{{name}}</p>


    <table class="table">
        <tbody formGroupName="Restaurant">
            <tr>
                <td><label>Restaurantname:</label></td>
                <td>
                    <form class="labelForm">
                        <mat-form-field class="full-width">
                          <mat-label>Password*</mat-label>
                          <input matInput placeholder="" formControlName="restaurantName">
                        </mat-form-field>
                    </form>
                </td>
            </tr>
            <tr>
                <td><label>Postleitzahl:</label></td>
                <td><input type="text" class="form-control" [(ngModel)]="zipCode"></td>
            </tr>
            <tr>
                <td><label>Ort:</label></td>
                <td><input type="text" class="form-control" [(ngModel)]="location"></td>
            </tr>
            <tr>
                <td><label>Straße:</label></td>
                <td><input type="text" class="form-control" [(ngModel)]="address"></td>
            </tr>
            <tr>
                <td><label>Hausnummer:</label></td>
                <td><input type="text" class="form-control" [(ngModel)]="streetNr"></td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" [disabled]="enableRegister()" (click)="btnRegisterClicked()">Registrieren</button>
</div>

<p *ngFor="let item of restaurants">{{item.name}}</p>