<h1>Restaurant eintragen</h1>

<table>
    <tbody>
        <tr>
            <td><label>Restaurantname:</label></td>
            <td><input></td>
        </tr>
        <tr>
            <td><label>Postleitzahl:</label></td>
            <td><input></td>
        </tr>
        <tr>
            <td><label>Ort:</label></td>
            <td><input></td>
        </tr>
        <tr>
            <td><label>Straße:</label></td>
            <td><input></td>
        </tr>
        <tr>
            <td><label>Hausnummer:</label></td>
            <td><input></td>
        </tr>
    </tbody>
</table>