<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/home.png" width="30" height="30" alt="Home">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav seperator">
        <li class="nav-item">
          <a class="nav-link" routerLink="/restaurant-filter" routerLinkActive="active">Restaurant suchen</a>
        </li>
      </ul>

      <div class="navbar-nav ms-auto">
        <a *ngIf="!loggedIn" class="nav-link" (click)="login()">Anmelden</a>
        <div class="nav-item" *ngIf="loggedIn">
          <button [matMenuTriggerFor]="menu" mat-raised-button>
            {{user!.name}}
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item class="nav-link" routerLink="/reservationList" routerLinkActive="active">Reservierungen</a>
            <a mat-menu-item class="nav-link" routerLink="/restaurant-registration"
              routerLinkActive="active">Restaurant</a>
            <a mat-menu-item class="nav-link" (click)="logout()">Abmelden</a>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</nav>