<app-sidebar></app-sidebar>

<div class="main">
    <h1 style="color: white; font-size: xx-large;">Tische</h1>
    <hr style="color: white; border-width: 2px;">

    <table class="table">
        <thead>
            <tr>
                <th>Plätze</th>
                <th>Letzte Reservierung</th>
                <th>Tisch geschlossen ab</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let table of tables">
                <td>{{table.seatPlaces}}</td>
                <td>{{table.lastReservation| date:'dd.MM.yyyy'}}</td>
                <td (mouseenter)="test(table.lastReservation)"><mat-form-field class="col-xl-3 col-md-4">
                    <mat-label>Datum</mat-label>
                    <input matInput [(ngModel)]="table.closedAt" [matDatepickerFilter]="dateFilter"
                        [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field></td>
            </tr>
            <tr *ngFor="let table of newTables; let i = index">
                <td><input class="form-control" type="number" oninput="validity.valid||(value='');" min="1" [(ngModel)]="table.size"></td>
                <td><button class="btn btn-outline-danger" (click)="removeTable(i)">Tisch löschen</button></td>
                <td></td>
            </tr>
            <tr>
                <td><input class="form-control" type="number" oninput="validity.valid||(value='');" min="1" [(ngModel)]="newSize"></td>
                <td><button class="btn btn-outline-primary" (click)="newTables.push({size: newSize})">Tisch hinzufügen</button></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="col-12 col-xl-7 row">
        <div class="col-6 row">
            <button style="margin-left: 5%;"
                class="col-11 btn btn-primary" (click)="save()">Speichern</button>
        </div>
        <div class="col-6 row">
            <button style="margin-left: 10%;" class="col-11 btn btn-danger" (click)="cancel()">Abbrechen</button>
        </div>
    </div>
</div>