.imgSize {
  height: 230px;
  width: 350px;
}

.filterBtnField {
  vertical-align: middle;
}

.fullSize{
  width: 100%;
}

.search-box {
  transform: translate(0, 4rem);
}

.header {
  margin: 0 10%;
  font-size: 30px;
  font-weight: 300;
  display: block;
}

.description {
  margin-left: 10%;
  font-size: 20px;
}

.picture-div {
  text-align: center;
}


@media only screen and (max-width: 1200px) {
  .hideOnMobile {
    font-size: 0px;
  }

  .header{
    text-align: center;
  }
}