.container {  
  text-align: center;
}

.restaurantHeader {
  size: 15px;
}

.imgSize {
  height: 230px;
  width: 350px;
}

.filterBtnField {
  vertical-align: middle;
}

.fullSize{
  width: 100%;
}

.search-box {
  margin-top: 5%;
}