<div class="bg-box container br-m-top br-top search-box">
    <form class="search-bar justify-content-md-center">
        <div class="row" style="padding-left: 2%;">
            <app-search-bar class="col-10"></app-search-bar>
            <div class="col-2">
                <button class="btn btn-primary btn-main btn-maintext-design" color="primary"
                    (click)="filter()">Suchen</button>
            </div>
        </div>
    </form>

    <div *ngFor="let res of restaurants">
        <hr class="br-top">
        <div class="row br-top">
            <div class="col-xl-8 col-12">
                <a routerLink="/restaurantView/{{res.id}}" class="header">{{res.name}}</a>
                <p class="description mt-3 hideOnMobile">{{res.description}}</p>
            </div>
            <div class="col-xl-4 col-12 picture-div">
                <img (click)="goToRestaurant(res.id)" src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
                    class="imgSize" alt="..." />
            </div>
        </div>
    </div>
    <br>
</div>