.container {  
  background-color: #666;
  text-align: center;
}

.restaurantHeader {
  size: 15px;
}

.imgSize {
  height: 230px;
  width: 360px;
}

.filterBtnField {
  vertical-align: middle;
}

.filterBtnSize{
  width: 140px;
  height: 58px;
  vertical-align: middle;
}

.btnSize{
  width: 150px;
  height: 30px;
}