<!--<div class="container bg-secondary">
  <nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/restaurant-registration" routerLinkActive="active" ariaCurrentWhenActive="page">Restaurant registration</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/restaurant-filter" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/userCheckIn" routerLinkActive="active" ariaCurrentWhenActive="page">Check in</a></li>
    </ul>
    </div> 
  </nav>
</div>
<router-outlet></router-outlet>
!-->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F2DCFF;"><!--#CF9FFF #7F00FF #9F2B68-->
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/restaurant-registration" routerLinkActive="active">ResReg</a>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a> 
        <a class="nav-link" routerLink="/userCheckIn" routerLinkActive="active">UCI</a>
        <a class="nav-link" routerLink="/restaurant-filter" routerLinkActive="active">ResFil</a>  
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
  