<div class="container bg-secondary">
  <nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/restaurant-registration" routerLinkActive="active" ariaCurrentWhenActive="page">Restaurant registration</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/restaurant-search" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/userCheckIn" routerLinkActive="active" ariaCurrentWhenActive="page">Check in</a></li>
    </ul>
    </div> 
  </nav>
</div>
<router-outlet></router-outlet>