.margin {
    margin-top: 5px;
    text-align: center;
}



.description {
    margin-left: 10px;
    margin-right: 10px;
}


.center {
    text-align: center;
}


.br-top {
    padding-top: 24px;
}

.br-top-sm {
    padding-top: 18px;
}

.br-bottom-sm {
    padding-bottom: 18px;
}

  
