<div class="container center side bg-box restaurant-box">
    <form class="form row br-top">
        <button class="col-1" mat-button (click)="back()">
            <mat-icon class="col-1 mx-2">arrow_back_ios</mat-icon>
        </button>
        <div class="col-10 col-lg-6">
            <h1 class="margin br-top header">{{restaurant?.name}}</h1>
            <p class="description mt-4">{{restaurant?.description}}</p>
        </div>
        <div class="col-1"></div>
        <div class="col-12 col-lg-4">
            <div class="carousel slide imgSlider" data-ride="carousel" *ngIf="imagePath.length > 0">
                <mdb-carousel [controls]="true">
                    <mdb-carousel-item [interval]="2500" *ngFor="let item of imagePath">
                        <img
                        [src]="item"
                        class="imgSize"
                        alt="..."
                        />
                    </mdb-carousel-item>
                </mdb-carousel>
            </div>
        </div>
    </form>
    <div class="form row br-top-sm">
        <div class="col-12 col-md-6">
            <div class="container center element">
                <p class="element-inner">{{restaurant?.zipCode?.location}} &nbsp;| &nbsp;{{restaurant?.zipCode?.zipCodeNr}} &nbsp;| &nbsp;{{restaurant?.zipCode?.district}}</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="container center element">
                <p class="element-inner">{{restaurant?.address}} {{restaurant?.streetNr}}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="form row">
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of restaurant?.categories">
            <div class="container center element">
                <p class="element-inner">{{item.name}}</p>
            </div>
        </div>
    </div>
    <div class="border border-3 border-dark element-timetable">
        <div *ngFor="let day of days">
            <div class="row">
                <ng-container *ngIf="openedAt(day.id)">
                    <label style="text-align: right; padding-top: 10px; font-weight: bold;"
                        class="col-4">{{day.short}}:</label>
                    <div class="col-8" style="text-align: left; padding-top: 10px; font-weight: bold;">
                        <div class="row" *ngFor="let time of openingsAt(day.id);let i=index;">
                            <p class="col-7" >{{time.openFrom}} - {{time.openTo}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="br-top br-bottom-sm">
        <div class="form row">
            <div class="col">
                <button class="text-design btn-main btn btn-primary">Buchen</button>
            </div>
        </div>
    </div>
</div>
<br>
