.margin {
    margin-top: 5px;
    text-align: center;
}

.header {
    font-size: 50px;
    font-weight: 300;
}

.description {
    margin: 0 10% 5% 10%;
    font-size: 20px;
    text-align: justify;
}

.center {
    text-align: center;
}

.br-top {
    padding-top: 24px;
}

.br-top-sm {
    padding-top: 18px;
}

.br-bottom-sm {
    padding-bottom: 18px;
}

.restaurant-box {
    margin-top: 5%;
}