<br>
<div class="container center side bg" style="border-radius: 20px">
    <h1 class="margin br-top">{{restaurant?.name}}</h1>
    <form class="form row br-top">
        <div class="col-12 col-lg-8">
            <p class="textInfo br-top-sm">About us</p>
            <p class="description">{{restaurant?.description}}</p>
        </div>
        <div class="col-12 col-lg-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide imgSlider" data-ride="carousel">
                <mdb-carousel [controls]="true">
                    <mdb-carousel-item [interval]="2500">
                        <img
                        src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
                        class="imgSize"
                        alt="..."
                        />
                    </mdb-carousel-item>
                    <mdb-carousel-item [interval]="2500">
                        <img 
                        src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
                        class="imgSize"
                        alt="..."
                        />
                    </mdb-carousel-item>
                    <mdb-carousel-item [interval]="2500">
                        <img
                        src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp"
                        class="imgSize"
                        alt="..."
                        />
                    </mdb-carousel-item>
                </mdb-carousel>
            </div>
        </div>
    </form>
    <div class="form row br-top-sm">
        <div class="col-12 col-md-6">
            <div class="container center bubble round">
                <p class="bubbles">{{restaurant?.zipCode?.location}} &nbsp;| &nbsp;{{restaurant?.zipCode?.zipCodeNr}} &nbsp;| &nbsp;{{restaurant?.zipCode?.district}}</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="container center bubble round">
                <p class="bubbles">{{restaurant?.address}} {{restaurant?.streetNr}}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="form row">
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of restaurant?.categories">
            <div class="container center bubble round">
                <p class="bubbles">{{item.name}}</p>
            </div>
        </div>
    </div>
    <div class="border border-3 border-dark round timeTable" style="background-color: #F2DCFF;">
        <div *ngFor="let day of days">
            <div class="row">
                <ng-container *ngIf="openedAt(day.id)">
                    <label style="text-align: right; padding-top: 10px; font-weight: bold;"
                        class="col-4">{{day.short}}:</label>
                    <div class="col-8" style="text-align: left; padding-top: 10px; font-weight: bold;">
                        <div class="row" *ngFor="let time of openingsAt(day.id);let i=index;">
                            <p class="col-7" >{{time.openFrom}} - {{time.openTo}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="br-top br-bottom-sm">
        <div class="form row">
            <div class="col-6">
                <button class="textInfo btn1 round" (click)="back()">Back</button>
            </div>
            <div class="col-6">
                <button class="textInfo btn1 round">Buchen</button>
            </div>
        </div>
    </div>
</div>
<br>
