<br>
<div class="container center side bg" style="border-radius: 20px">
    <br>
    <h1 class="margin">Restaurantname</h1>
    <br>
    <br>
    <form class="form row">
        <div class="col-12 col-md-8">
            <br>
            <p class="textInfo">About us</p>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-12 col-md-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide imgSlider" data-ride="carousel">
                <mdb-carousel [controls]="true">
                    <mdb-carousel-item [interval]="2500">
                        <img
                        src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
                        class="imgSize"
                        alt="..."
                        />
                    </mdb-carousel-item>
                    <mdb-carousel-item [interval]="2500">
                        <img 
                        src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
                        class="imgSize"
                        alt="..."
                        />
                    </mdb-carousel-item>
                    <mdb-carousel-item [interval]="2500">
                        <img
                        src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp"
                        class="imgSize"
                        alt="..."
                        />
                    </mdb-carousel-item>
                </mdb-carousel>
            </div>
        </div>
    </form>
    <br>
    <div class="form row">
        <div class="col-12 col-md-6">
            <div class="container center bubble" style="border-radius: 20px">
                <p class="bubbles">Ort - Postleitzahl</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="container center bubble" style="border-radius: 20px">
                <p class="bubbles">Straße 1</p>
            </div>
        </div>
    </div>
    <div class="form row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of categories">
            <div class="container center bubble" style="border-radius: 20px">
                <p class="bubbles">{{item.name}}</p>
            </div>
        </div>
    </div>
    
</div>
<br>
