.margin {
    margin-top: 5px;
    text-align: center;
}

.textInfo {
    text-align: center;
    font-size: 19px;
    font-weight: 650;
}

.description {
    margin-left: 10px;
    margin-right: 10px;
}

.imgSlider {
    margin-left: 5px;
    margin-right: 10px;
}

.imgSize {
    height: 203px;
    width: 301px;
    border-radius: 15px;
}

.bubbles {
    text-align: center;
    font-size: 19px;
    font-weight: 650;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.round {
    border-radius: 20px;
    margin-bottom: 16px;
    //border-style: groove;
}

.btn1 {
    width: 65%;
    background-color: #D6D3FF;
    padding: 15px 20px;
    text-align: center;
    font-size: 19px;
    font-weight: 650;
    font-size: 16px;
    border-radius: 20px;
}

.center {
    text-align: center;
}

.timeTable {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.br-top {
    padding-top: 24px;
}

.br-top-sm {
    padding-top: 18px;
}

.br-bottom-sm {
    padding-bottom: 18px;
}