<div class="bg-box container br-m-top br-top br-bottom-sm reservation-list-box">
    <table class="table table-bordered bdr">
        <thead style="background-color: #D6D3FF;">
            <tr>
                <th>Restaurant</th>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Personenanzahl</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of reservations"
                [ngStyle]="{'background-color': (checkDate(res.day)) ? '#ffffff' : '#e6e6e6'}">
                <td>{{res.restaurantName}}</td>
                <td>{{res.day | date:'dd.MM.yyyy'}}</td>
                <td>{{res.day | date:'HH:mm'}}</td>
                <td>{{res.persons}}</td>
            </tr>
        </tbody>
    </table>
</div>