.labelForm {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: block;
  margin: auto; 
}
  
.full-width {
  width: 100%;
}

.buttonMenu {
  width: 250px;
}

.container {  
  background-color: #666;
  text-align: center;
}

.headerStyle {
  font-family: 'Brush Script MT', cursive;
  font-size: 54px;
}

.imgSize {
  height: 250px;
  width: 375px;
}