<app-sidebar></app-sidebar>

<div class="main">

    <h1 style="color: white; font-size: xx-large;">Bilder</h1>
    <hr style="color: white; border-width: 2px;">

    <div style="text-align: center;">
        <label for="files" class="btn btn-primary">Bild auswählen</label>
        <input id="files" style="visibility:hidden;" type="file" (change)="fileChangeEvent($event)"
            accept="image/png, image/gif, image/jpeg">
    </div>

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="3 / 2"
        format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
    <div *ngIf="showImage" style="align-items: center;" class="row br-top-sm">
        <ng-component class="col-3"></ng-component>
        <img [src]="croppedImage" class="imgSize col-6" />
        <button class="text-design btn btn-primary col-3" (click)="addToImgList()">Hinzufügen</button>
    </div>


    <div *ngFor="let img of imgList, let i = index">
        <div class="row br-top">
            <div class="col-lg-5">
                <img [src]="convertImage(img.picture)" class="imgSize">
            </div>
            <div class="col-6 col-lg-5" style="margin-top: auto; margin-bottom: auto;">
                <div *ngIf="i != 0" class="br-bottom-sm btn-Padding">
                    <button class="btn btn-primary btn-main btn-maintext-design" color="primary"
                        (click)="switchImgAtIndex(i, i - 1)"><mat-icon>keyboard_arrow_up</mat-icon></button>
                </div>
                <div class="btn-Padding">
                    <button class="btn btn-danger btn-main btn-maintext-design" color="primary"
                        (click)="remove(img)"><mat-icon>delete</mat-icon></button>
                </div>
                <div *ngIf="i != imgList.length - 1" class="br-top-sm btn-Padding">
                    <button class="btn btn-primary btn-main btn-maintext-design" color="primary"
                        (click)="switchImgAtIndex(i, i + 1)"><mat-icon>keyboard_arrow_down</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-7 row">
        <div class="col-6 row">
            <button [disabled]="imgList.length == 0" style="margin-left: 5%;"
                class="col-11 btn btn-primary" (click)="save()">Speichern</button>
        </div>
        <div class="col-6 row">
            <button style="margin-left: 10%;" class="col-11 btn btn-danger" (click)="cancel()">Abbrechen</button>
        </div>
    </div>
</div>